.cluster-link-form {
  .token-output {
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
  }

  .modified-status,
  .select {
    max-width: 50px;
  }
}

.delete-cluster-link-dialog {
  .p-modal__dialog {
    @include large {
      width: 40rem;
    }

    .delete-cluster-link-table {
      tbody {
        tr {
          th:first-child {
            width: 14rem;

            @include mobile-and-tablet {
              width: 9rem;
            }
          }
        }
      }
    }
  }
}
