.configuration-table {
  margin-top: -3px;
  width: 54rem;

  td:last-child {
    padding-bottom: 0;
    padding-right: $sph--large;
  }

  .configuration {
    width: 15rem;
  }

  .inherited {
    width: 10rem;
  }

  .override {
    width: 20rem;
  }

  .configuration-extra {
    margin-left: $sph--small;
  }

  label {
    margin-bottom: 0;
    padding-top: 0;
  }

  .override-form {
    display: flex;

    :first-child {
      flex-grow: 1;
    }
  }

  .clear-configuration-icon {
    @include vf-icon-close($color-link);
  }
}

@media screen and (max-width: 1420px) {
  .configuration-table {
    min-width: 32rem;
    width: 100%;

    .configuration {
      width: 10rem;
    }

    .override {
      width: 12rem;
    }
  }
}
