.configuration-table {
  margin-bottom: 0;
  margin-top: -3px;
  max-width: 100%;
  width: 54rem;

  td:last-child {
    padding-bottom: 0;
    padding-right: $sph--large;
  }

  .configuration {
    width: 15rem;
  }

  .inherited {
    width: 10rem;
  }

  .override {
    width: 20rem;
  }

  .configuration-extra {
    margin-left: $sph--small;
  }

  label {
    margin-bottom: 0;
    padding-top: 0;
  }

  .override-form {
    align-items: baseline;
    display: flex;

    :first-child {
      flex-grow: 1;
    }
  }

  .clear-configuration-icon {
    @include vf-icon-close($color-link);
  }

  .mono-font {
    font-family: unquote($font-monospace);
  }

  .configuration-help {
    @extend %small-text;

    color: $color-mid-dark;
    margin-top: $sp-unit;
  }
}

@media screen and (width <= 1420px) {
  .configuration-table {
    min-width: 28rem;
    width: 100%;

    .configuration {
      width: 10rem;
    }

    .override {
      width: 12rem;
    }
  }
}
