.detail-panel {
  .sticky-wrapper {
    background: white;
    position: sticky;
    top: 0;
    z-index: 1;
  }

  .row {
    padding-left: 0;
    padding-right: 0;
  }

  .p-panel__content {
    margin-left: $sph--x-large;
    padding-bottom: 0;
  }

  .p-muted-heading {
    padding: 0;
  }

  .list {
    margin: $spv--large 0;
  }

  th {
    max-width: 9rem;
    padding: $spv--x-small $sph--x-small $spv--x-small 0 !important;
    width: 9rem;
  }

  td {
    max-width: 12.65rem;
    padding: $spv--x-small $sph--x-small $spv--x-small 0 !important;
  }

  tr {
    border-bottom: $border-thin;
    border-color: $color-mid-x-light;
  }
}
