.disk-device-modal {
  .choose-type {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: center;
    margin-top: $spv--large;
    min-height: 10rem;

    @include large {
      width: 40rem;
    }
  }

  .pool-table {
    .storage-pools {
      .size {
        padding-right: 5%;
        width: 25%;
      }

      .p-meter {
        margin-top: $spv--x-small;
      }

      .clustered-resource-link {
        height: 2.25rem;
      }
    }

    @include large {
      min-width: 45rem;
    }
  }

  .pool-name {
    display: inline;
    max-width: 20rem;
  }
}
