.disk-device-form {
  .custom-disk-read-mode {
    display: flex;

    .custom-disk-value {
      flex-grow: 1;
    }
  }

  .custom-disk-volume-source,
  .custom-disk-device-limits {
    align-items: center;
    display: flex;

    > :first-child {
      margin-right: $sph--large;
    }
  }
}

.disk-device-form--edit {
  .override-with-form {
    .configuration,
    .inherited {
      padding-top: calc(1rem - 3px);
    }
  }

  .inherited-with-form {
    .configuration {
      padding-top: calc(1rem - 3px);
    }
  }
}
