.empty-state {
  margin-top: min(5vh, $spv--strip-regular);

  .empty-state-icon {
    height: 2.5rem;
    margin-bottom: $spv--large;
    margin-top: $spv--x-large;
    width: 2.5rem;
  }

  h4 {
    margin-bottom: $spv--x-small;
  }

  p {
    margin-bottom: $spv--medium;
  }

  .empty-state-button {
    margin-top: $spv--medium;
  }
}
