.file-row {
  .file-row-header {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    padding: $spv--small $sph--small $spv--small $sph--small;

    .file-row-toggle {
      flex-grow: 1;
      text-align: left;
    }

    .file-row-title {
      display: inline;
    }
  }
}
