// Serve the font locally for air gapped deployments

@font-face {
  font-display: swap;
  font-family: "Ubuntu Sans";
  font-stretch: 75% 100%;
  font-style: normal;
  font-weight: 100 800;
  src: url("@canonical/ds-assets/fonts/ubuntu-sans/UbuntuSans[wdth,wght].woff2")
    format("woff2-variations");
}

@font-face {
  font-display: swap;
  font-family: "Ubuntu Sans";
  font-stretch: 75% 100%;
  font-style: italic;
  font-weight: 100 800;
  src: url("@canonical/ds-assets/fonts/ubuntu-sans/UbuntuSans-Italic[wdth,wght].woff2")
    format("woff2-variations");
}
