// Serve the font locally for air gapped deployments

@font-face {
  font-family: "Ubuntu variable";
  font-stretch: 100%;
  font-style: normal;
  font-weight: 100 800;
  src: url("/assets/font/f1ea362b-Ubuntu-latin-v0.896a.woff2")
    format("woff2-variations");

  // src: url(https://assets.ubuntu.com/v1/f1ea362b-Ubuntu%5Bwdth,wght%5D-latin-v0.896a.woff2) format("woff2-variations")
}

@font-face {
  font-family: "Ubuntu variable";
  font-stretch: 100%;
  font-style: italic;
  font-weight: 100 800;
  src: url("/assets/font/90b59210-Ubuntu-Italic-latin-v0.896a.woff2")
    format("woff2-variations");

  // src: url(https://assets.ubuntu.com/v1/90b59210-Ubuntu-Italic%5Bwdth,wght%5D-latin-v0.896a.woff2) format("woff2-variations")
}

@font-face {
  font-family: "Ubuntu Mono variable";
  font-style: normal;
  font-weight: 100 800;
  src: url("/assets/font/d5fc1819-UbuntuMono-latin-v0.869.woff2")
    format("woff2-variations");

  // src: url(https://assets.ubuntu.com/v1/d5fc1819-UbuntuMono%5Bwght%5D-latin-v0.869.woff2) format("woff2-variations")
}
