.image-registry-list {
  .image-registry-table {
    .name {
      width: 6rem;
    }

    .description {
      width: 6rem;
    }

    .protocol {
      width: 10rem;
    }

    .built-in {
      width: 3rem;
    }

    .public {
      width: 3rem;
    }
  }
}
