.image-table {
  @media screen and (width > 1400px) {
    .architecture {
      width: 9rem;
    }

    .public {
      width: 9rem;
    }

    .type {
      width: 9rem;
    }

    .uploaded_at {
      width: 12rem;
    }
  }

  .size {
    width: 9rem;
  }

  .actions {
    width: 9rem;
  }

  .actions-list {
    margin-top: -7px;
  }
}
