.create-instance,
.edit-instance,
.create-profile,
.edit-profile {
  padding-bottom: 0;

  .p-notification--caution {
    background-image: none;
    border: 0;
    padding-left: $spv--large;
  }

  .form {
    display: flex;
    margin-top: 6px;

    .form-navigation {
      width: 16rem;

      .p-side-navigation__link {
        min-width: 13rem;
        text-align: left;
      }
    }

    .form-contents {
      overflow-y: auto;
      padding-left: 2.5rem;

      > div:not(:has(.cm-editor)) {
        max-width: 42rem;
      }
    }

    .device-form hr {
      margin-bottom: $spv--large;
    }

    .image-change-link {
      align-self: end;
      margin-bottom: 6px;
    }

    .image-select-button {
      align-self: end;
    }

    .profile-action-btn {
      margin-right: $sph--large;
      margin-top: 2.5rem;
    }

    .profile-delete-btn {
      margin-left: $sph--large;
      margin-top: 2.5rem;
    }

    .delete-device {
      margin-top: 2.5rem;
    }

    .is-disabled {
      cursor: not-allowed;
      opacity: 0.33;
    }
  }

  @include mobile-and-tablet {
    .form {
      margin-top: 13px;
    }
  }

  .cpu-limit-label,
  .memory-limit-label,
  .snapshot-schedule {
    align-items: flex-end;
    display: flex;

    .grow {
      flex-grow: 1;
    }

    .right-margin {
      margin-right: 2rem;
    }
  }
}

.p-panel__content:has(.edit-instance),
.p-panel__content:has(.edit-profile) {
  padding-bottom: 0;
}

.image-select-modal {
  > section {
    min-height: 100%;
  }

  .image-select-filters {
    height: 100%;
    margin-right: 2rem;
  }

  @include mobile-and-tablet {
    .image-select-filters {
      display: none;
    }
  }

  .table-image-select {
    .u-row:hover {
      background-color: $colors--light-theme--background-hover;
      cursor: pointer;
    }

    th,
    td {
      &:nth-child(1) {
        width: 7rem;
      }

      &:nth-child(2) {
        width: 5rem;
      }

      &:nth-child(3) {
        width: 7rem;
      }

      &:nth-child(4) {
        width: 6rem;
      }

      &:nth-child(5) {
        width: 9rem;
      }

      &:nth-child(6) {
        width: 6rem;
      }
    }
  }

  .image-list {
    max-height: calc(100vh - 140px);
    overflow-y: auto;
  }

  @include large {
    .search-image {
      margin-top: calc(2.5rem + 3px);
      max-width: 30rem;
    }

    .image-list {
      max-height: calc(100vh - 220px);
    }
  }

  @include extra-large {
    .image-list {
      max-height: calc(100vh - 250px);
    }
  }
}
