.instance-detail-panel {
  padding-top: 0 !important;

  .actions {
    display: flex;
    padding-top: $spv--x-large;

    .primary {
      flex-grow: 1;
    }
  }

  .p-panel__content {
    margin-left: 0;
    padding-top: 0;
  }

  .base-image,
  .ip {
    max-width: 10rem;
  }

  tr:last-child {
    border: 0;
  }

  .snapshots-header {
    padding-bottom: 0 !important;
  }

  .snapshot-name {
    display: inline-block;
  }

  .no-snapshots {
    padding-top: 0;
  }
}
