.instance-detail-title {
  .status {
    font-size: 1.125rem;
  }

  .actions-list {
    margin: 0 $sph--large;
  }
}

.create-instance-from-snapshot-modal,
.duplicate-instances-modal,
.create-image-from-instance-modal {
  .p-modal__dialog {
    @include large {
      width: 35rem;
    }
  }
}
