.instance-detail-panel {
  .row {
    padding-left: 0;
    padding-right: 0;
  }

  .panel-content {
    margin-left: $sp-large;
    padding-bottom: 0;

    .actions {
      display: flex;
      margin-right: $sp-large;

      .primary {
        flex-grow: 1;
      }
    }
  }

  .base-image,
  .ip {
    max-width: 10rem;
  }

  .last-used {
    padding-bottom: 1.25rem !important;
  }

  .p-muted-heading {
    padding: 0;
  }

  .list {
    margin: $spv--large 0;
  }

  th {
    padding: $sp-x-small !important;
    width: 9rem;
  }

  td {
    padding: $sp-x-small !important;
  }

  tr {
    border-bottom: $border-thin;
    border-color: $color-mid-x-light;
  }

  tr:last-child {
    border: 0;
  }

  .content-scroll {
    max-height: calc(100vh - 142px);
    overflow-x: hidden;
    overflow-y: auto;
    padding-right: $sp-large;
  }

  @include extra-large {
    .content-scroll {
      max-height: calc(100vh - 160px);
    }
  }
}

@media (min-width: 460px) {
  .l-application .l-aside.is-narrow {
    width: 25.65rem;
  }
}
