.instance-list {
  .instance-list-header {
    display: flex;
    margin: $spv--x-small 0 $spv--large 0;

    .bulk-actions {
      display: inline-block;
      margin-right: $sph--large;

      > .bulk-action-frame {
        border: 1px solid #0000008f;
        border-radius: 2.25px;

        > .bulk-action {
          border-left: 1px solid rgb(0 0 0 / 10%);
        }
      }
    }

    @media screen and (max-width: $breakpoint-large) {
      .bulk-actions {
        .confirmation-toggle-caption {
          display: none;
        }

        .has-icon > i {
          margin: 0;
        }
      }
    }

    @media screen and (max-width: 830px) {
      .clear-selection-btn {
        display: none;
      }
    }

    .clear-selection-btn {
      padding-top: 8px;
    }

    .instance-header-left {
      display: flex;
      flex: 2;

      h1 {
        margin-right: 2rem;
      }

      .search-wrapper {
        max-width: 70vw;
        width: 100%;
      }

      .p-search-and-filter__panel {
        min-width: 100%;
        width: 45vw;
      }
    }

    .margin-right {
      margin-right: $sph--large;
    }

    .create-button-wrapper {
      align-self: flex-start;
      flex: 1;
    }
  }

  @media screen and (min-width: $breakpoint-large) and (max-width: 1135px) {
    .has-side-panel {
      .instance-header-left {
        flex: 1;

        .search-wrapper {
          display: none;
        }
      }
    }
  }

  .instance-content {
    margin-top: -$spv--large;
    padding-bottom: 0;
    @media screen and (max-width: $breakpoint-large) {
      margin-top: 0;
    }

    .p-notification--positive,
    .p-notification--negative {
      margin-bottom: $spv--large;
    }
  }

  .u-row:hover,
  .u-row-selected {
    background-color: $colors--light-theme--background-hover;
  }

  .clickable-cell {
    cursor: pointer;
  }

  .instance-actions button {
    margin-bottom: -3px;
  }

  // show actions only on hover if a pointing device is used
  @media screen and (pointer: fine) {
    .instance-actions {
      visibility: hidden;
    }

    .u-row:hover {
      .instance-actions {
        visibility: visible;
      }
    }

    .u-row-selected:hover {
      .instance-actions {
        visibility: hidden;
      }
    }
  }

  .configurable-table-toggle {
    float: right;
    margin-bottom: -3.5rem;
  }

  .instance-table {
    margin-bottom: 0;

    th,
    td {
      display: table-cell;
    }

    th:last-child {
      display: none;
    }

    td:last-child {
      padding-bottom: 0;
      padding-right: $sph--large;
    }

    .status-icon {
      margin-left: $spv--x-large;
    }

    .status-header {
      padding-left: 3.33rem;
      pointer-events: none;

      > * {
        pointer-events: all;
      }
    }

    th::before {
      content: "";
      display: inline-block;
      height: 1rem;
    }

    thead,
    tbody {
      display: block;
      overflow-x: hidden;
      overflow-y: auto;
      scrollbar-gutter: stable;
    }

    tbody {
      height: calc(100vh - 146px);
    }

    thead tr,
    tbody tr {
      display: table;
      table-layout: fixed;
      width: 100%;
    }

    .name {
      width: 170px;
    }

    .type {
      width: 130px;
    }

    .description {
      width: 150px;
    }

    .ipv4 {
      width: 150px;
    }

    .ipv6 {
      width: 330px;
    }

    .status {
      width: 160px;
    }

    .snapshots {
      width: 110px;
    }

    .actions {
      width: 210px;
    }
  }

  .p-pagination__items {
    justify-content: flex-end;
  }

  #instance-table-measure {
    max-height: 1px;
    overflow: hidden;
  }

  .p-panel {
    min-height: auto;
  }
}

.l-navigation.is-collapsed + .instance-list {
  .search-wrapper {
    width: 50vw;
  }

  .p-search-and-filter__panel {
    width: 130% !important;
  }

  .has-side-panel {
    .instance-header-left {
      flex: 2;

      .search-wrapper {
        display: initial;
      }
    }
  }
}

.table-column-select-list {
  min-width: 12rem;

  label {
    margin-left: 1rem;
  }
}
