.instance-overview-tab {
  overflow: auto;

  .p-muted-heading {
    color: #757575;
    font-weight: 500;
  }

  .row {
    margin-top: $spv--x-large;
  }

  .general,
  .usage,
  .networks {
    border-bottom: 1px solid $color-mid-light;

    table {
      margin-bottom: $spv--large;
    }
  }

  .general,
  .usage {
    tr {
      border: none;
    }

    td,
    th {
      padding-bottom: $spv--x-small;
      padding-left: 0;
      padding-top: $spv--x-small;
    }

    th {
      width: 30%;
    }

    td:first-of-type,
    th:first-of-type {
      padding-top: $spv--small;
    }
  }

  .networks {
    th:nth-child(1) {
      width: 30%;
    }

    th:first-of-type,
    td:first-of-type {
      padding-left: 0;
    }
  }

  .profiles {
    th:nth-child(1) {
      width: 30%;
    }

    th:first-of-type,
    td:first-of-type {
      padding-left: 0;
    }
  }

  .usage {
    .metric-row {
      .p-meter {
        margin-top: $spv--small;
      }

      &:first-of-type {
        td,
        th {
          padding-bottom: $spv--x-large;
        }
      }
    }
  }
}
