.login {
  height: 100vh;

  .login-page {
    align-content: center;
    height: 100%;
    margin-top: 0;
    text-align: center;
    width: fit-content;

    .auth-container {
      a {
        display: block;
        margin-bottom: 0.5rem;
        width: 100%;
      }
    }
  }
}
