.login {
  height: 100vh;

  .login-page {
    align-content: center;
    height: 100%;
    margin-top: 0;
    text-align: center;
    width: fit-content;

    .auth-container {
      a {
        display: block;
        margin-bottom: 0.5rem;
        width: 100%;
      }
    }
  }
}

.login-navigation {
  &.is-collapsed {
    .step-content {
      display: none;
    }

    .stepper-icon {
      color: $color-x-dark !important;
    }
  }

  .p-list__item {
    align-items: center;
    width: 100%;
  }

  .sso-login-button {
    margin-left: 1rem;
    margin-right: 0;
  }

  .stepper-vertical {
    .step {
      border: none;
      padding: 0.5rem 1rem !important;
      width: 100%;
    }
  }
}
