.p-meter {
  $background-color: $colors--theme--background-alt;
  $active-color: #06c;

  background-color: $colors--theme--background-alt;
  border: $border-thin;
  display: flex;
  height: 0.75rem;
  margin-bottom: 0.375rem;

  div {
    background-color: $active-color;
    height: 100%;
  }

  &--segmented {
    background-color: transparent;
    border: none;
    column-gap: 2px;
    display: grid;
    grid-template-columns: repeat(var(--total-segments, 1), 1fr);

    .p-meter__segment {
      background-color: $background-color;
      border-radius: 1px;
      height: 100%;
      overflow: hidden;
      position: relative;

      &-fill {
        background-color: $active-color;
        height: 100%;
      }
    }
  }
}
