.network-form {
  .form-contents > div {
    margin-left: 0;
    max-width: 42rem !important;
  }

  .user-key-values {
    align-items: baseline;
    display: flex;
    gap: 1rem;
  }

  @media screen and (max-width: 1420px) {
    .configuration-table {
      .config {
        width: 7rem;
      }

      .value {
        width: 7rem;
      }

      .defined {
        width: 18rem;
      }
    }
  }
}
