.network-topology {
  display: flex;
  margin-bottom: $spv--x-large;

  .current-network {
    .p-chip {
      background-color: $colors--dark-theme--background-active !important;

      * {
        color: white !important;
      }
    }
  }

  .uplink::after,
  .has-parent::before,
  .has-descendents::after,
  .downstream-item::before {
    background-color: #6e7681;
    content: "";
    display: inline-block;
    height: 30px;
    position: relative;
    transform: translate(0, 0);
    width: 30px;
  }

  .uplink::after,
  .has-parent::before,
  .has-descendents::after {
    clip-path: polygon(100% 80%, 0 80%, 0 85%, 100% 85%);
  }

  .downstream-item::before {
    clip-path: polygon(
      100% 80%,
      5% 80%,
      5% 0,
      0 0,
      0 100%,
      5% 100%,
      5% 85%,
      100% 85%
    );
  }

  .downstream-item.has-descendents::after {
    color: #6e7681;
    content: "—— ...";
    display: contents;
  }

  .downstream-item:first-child::before {
    clip-path: polygon(100% 80%, 0 80%, 0 100%, 5% 100%, 5% 85%, 100% 85%);
  }

  .downstream-item:last-child::before {
    clip-path: polygon(100% 80%, 5% 80%, 5% 0, 0 0, 0 85%, 100% 85%);
  }

  .downstream-item:only-child::before {
    clip-path: polygon(100% 80%, 0 80%, 0 85%, 100% 85%);
  }

  .downstream {
    display: flex;
    flex-direction: column;

    .downstream-item {
      height: 30px;
    }
  }
}
