.network-form {
  display: flex;

  .contents {
    flex-grow: 1;

    .sections {
      max-width: 54rem;
      padding-bottom: 25vh;
    }
  }

  .aside {
    min-width: 12rem;

    .p-side-navigation__link {
      background: white;
      margin-bottom: 0;

      &[aria-current="page"] {
        font-weight: bold;
      }

      &::before {
        width: 0;
      }
    }
  }
}
