.network-forwards-form {
  .form-contents > div,
  .content-details {
    margin-left: 0;
    max-width: 67rem !important;
  }

  .target-address-family-radio-wrapper {
    gap: $sph--x-large;
    margin-bottom: $spv--large;

    .p-radio {
      margin-top: 0;
    }
  }

  @include extra-large {
    .prefixed-input__input {
      padding-top: 0.3rem !important;
    }
  }

  .forward-ports {
    .listen-port,
    .protocol,
    .target-address,
    .target-port {
      width: 15rem;
    }

    @media screen and (width <= 1337px) {
      .listen-port,
      .protocol,
      .target-address,
      .target-port {
        width: 13rem;
      }
    }

    @media screen and (width <= 1190px) {
      .listen-port,
      .protocol,
      .target-port {
        width: 8rem;
      }
    }

    @include extra-large {
      .prefixed-input__input {
        padding-top: 0.25rem !important;
      }
    }
  }
}
