.operation-list {
  .status-header {
    padding-left: 1.8rem;
  }

  @media screen and (min-width: $breakpoint-large) {
    .time {
      width: 320px;
    }
  }

  .status {
    width: 120px;
  }

  .action,
  .info {
    white-space: break-spaces;
  }

  .cancel {
    width: 110px;
  }

  @media screen and (width < $breakpoint-large) {
    .page-header__search {
      display: none;
    }
  }
}
