.pagination {
  align-items: baseline;
  display: flex;
  margin-top: 1.2rem;

  .description {
    flex-grow: 1;
  }

  .back {
    margin: 0 $spv--large;

    i {
      rotate: 90deg;
    }
  }

  .next {
    margin: 0 $spv--large;

    i {
      rotate: 270deg;
    }
  }

  input {
    margin-right: $spv--small;
    min-width: 0;
    width: 3rem;
  }

  select {
    margin-left: $spv--x-large;
    min-width: 0;
    width: 7rem;
  }
}
