.password-output-toggle {
  @media (width < 1036px) {
    width: calc(100% - $sph--small);
  }

  .password-output-toggle-value {
    flex: 1;
    min-width: 0;
  }

  .password-output-toggle-actions-list {
    .p-inline-list__item {
      align-items: center;
      display: inline-flex;
      vertical-align: middle;

      .copy-to-clipboard-container {
        .copy-to-clipboard-button {
          padding: 0 !important;
        }
      }
    }
  }
}
