.p-terminal {
  height: calc(100dvh - 240px);

  .xterm .xterm-viewport {
    background-color: #292c2f;
    overflow: hidden;
  }
}

@media screen and (min-width: $breakpoint-small) {
  .p-terminal {
    height: calc(100dvh - 170px);
  }
}

@media screen and (min-width: $breakpoint-large) {
  .p-terminal {
    height: calc(100dvh - 210px);
  }
}
