.permission-group-form {
  .form-contents > div {
    margin-left: 0;
    max-width: 54rem !important;
  }

  .permissions {
    .entity-type,
    .entitlement,
    .entity-reference {
      width: 15rem;
    }

    @media screen and (width <= 1337px) {
      .entity-type,
      .entitlement,
      .entity-reference {
        width: 13rem;
      }
    }

    @media screen and (width <= 1190px) {
      .entity-type,
      .entitlement,
      .entity-reference {
        width: 8rem;
      }
    }
  }
}

.group-identities-modal {
  > section {
    min-height: 100%;
    padding-bottom: 0;
  }
}
