.permission-identities-list {
  .page-header__base-actions {
    .p-segmented-control {
      .p-segmented-control__list {
        gap: $sph--large;
      }
    }
  }

  .permission-identities-table {
    .auth-method {
      width: 8rem;
    }

    .group-count {
      width: 6rem;
    }

    .actions {
      width: 8.5rem;
    }

    @media screen and (width < 1300px) {
      .auth-method {
        display: none;
      }
    }

    @media screen and (width < 1000px) {
      .group-count {
        display: none;
      }
    }

    @media screen and (width < 900px) {
      .select,
      .identity-type {
        display: none;
      }
    }

    @media screen and (width < 600px) {
      .identity-id {
        display: none;
      }
    }
  }

  @media screen and (width < 500px) {
    .page-header__search {
      display: none;
    }
  }
}

.edit-oidc-config {
  @include large {
    .p-modal__dialog {
      min-width: 30rem;
    }
  }

  .p-modal__dialog {
    height: calc(100% - 2rem);

    > div {
      width: 54rem;
    }
  }

  .u-loader {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  #oidc-configuration-table {
    .group {
      display: none;
    }
  }
}
