.permission-confirm-modal {
  .confirm-table {
    overflow-y: auto;

    .modified-row {
      border-top: $border-thin;
    }

    .removed {
      text-decoration: line-through;
    }

    tr {
      border: none;
    }

    thead {
      background-color: white;
      border-bottom: $border-thin;
      position: sticky;
      top: 0;
    }

    .display-by-header {
      position: relative;
    }

    .display-by-button {
      bottom: 0.45rem;
      position: absolute;
      right: 0;
    }
  }

  // fixes issue on safari with table content appearing through margin of header when scrolling
  .p-modal__header {
    margin-bottom: 0;
  }

  // modal styling
  @include large {
    .p-modal__dialog {
      width: 45rem;
    }
  }

  .p-notification--caution {
    margin-top: $spv--large;
  }
}

.token-code-block {
  background-color: rgb(0 0 0 / 5%);
  margin-bottom: 1.5rem;

  code {
    background-color: transparent;
  }
}
