.profile-overview-tab {
  overflow: auto;

  .p-muted-heading {
    color: #757575;
    font-weight: 500;
  }

  .row {
    margin-top: $spv--x-large;
  }

  .general,
  .devices {
    border-bottom: 1px solid $color-mid-light;

    table {
      margin-bottom: $spv--large;
    }
  }

  .general,
  .devices,
  .instances {
    tr {
      border: none;
    }

    td,
    th {
      padding-bottom: $spv--x-small;
      padding-left: 0;
      padding-top: $spv--x-small;
    }

    th {
      width: 30%;
    }

    td:first-of-type,
    th:first-of-type {
      padding-top: $spv--small;
    }
  }

  .list-wrapper {
    .list-item {
      padding-bottom: $spv--small;
    }

    .p-button--link {
      padding: $spv--small 0;
    }
  }

  .instances-by-project:not(:last-of-type) {
    border-bottom: 1px solid $color-mid-light !important;
  }
}
