.delete-project-dialog {
  .p-modal__dialog {
    @include large {
      width: 40rem;
    }

    .delete-project-table {
      tbody {
        tr {
          th:first-child {
            width: 14rem;

            @include mobile-and-tablet {
              width: 9rem;
            }
          }
        }
      }
    }

    .p-modal__footer {
      align-items: center;
      display: flex;
      gap: $sph--large;

      @include mobile {
        flex-direction: column;
        gap: 0;
      }

      .confirm-input {
        flex: 1;

        @include mobile {
          width: 100%;
        }
      }

      .p-action-button {
        flex: 1;

        @include mobile {
          width: 100%;
        }
      }
    }
  }
}

.project-replica-form {
  .replica-mode-container {
    position: relative;

    .replica-mode-action-buttons {
      left: unset;
      margin-bottom: $spv--small;
      position: unset;
      top: unset;

      > .p-action-button {
        margin-bottom: $spv--small;
      }

      @media screen and (width >= 1200px) {
        left: 16rem;
        margin-bottom: 0;
        position: absolute;
        top: calc(1.5rem + 0.375rem);

        > .p-button--default.p-action-button {
          margin-bottom: 0;
        }
      }
    }
  }

  .replicator-list-project-configuration-empty-state {
    margin-top: $spv--x-large;
  }
}

.override-form .image-registry-restriction-input {
  .p-radio {
    margin-bottom: $spv--large - $spv-nudge;
    padding-top: map-get($settings-text-p, nudge);
  }

  .restricted-image-registries {
    margin-top: $spv--large;
  }
}

.restricted-image-registries__dropdown {
  .multi-select__dropdown-header {
    display: none;
  }

  .multi-select__group:first-child
    .multi-select__dropdown-item:not(:first-child) {
    padding-left: calc($sph--x-large * 2);
  }
}
