.profile-detail-panel {
  .row {
    padding-left: 0;
    padding-right: 0;
  }

  .panel-content {
    margin-left: $sp-large;
    padding-bottom: 0;
  }

  .last-of-section {
    padding-bottom: 1.25rem !important;
  }

  .p-muted-heading {
    padding: 0;
  }

  .list {
    margin: $spv--large 0;
  }

  th {
    max-width: 9rem;
    padding: $sp-x-small $sp-x-small $sp-x-small 0 !important;
    width: 9rem;
  }

  td {
    max-width: 12.65rem;
    padding: $sp-x-small $sp-x-small $sp-x-small 0 !important;
  }

  tr {
    border-bottom: $border-thin;
    border-color: $color-mid-x-light;

    &:nth-child(7) {
      border-bottom: none !important;
    }

    &:nth-child(8) {
      border-top: none !important;
    }
  }

  tr:last-child {
    border: 0;
  }

  .content-scroll {
    max-height: calc(100vh - 89px);
    overflow-x: hidden;
    overflow-y: auto;
    padding-right: $sp-large;
  }

  .list-wrapper {
    .list-item {
      padding-bottom: $spv--small;
    }

    .p-button--link {
      padding: $spv--small 0;
    }
  }

  @include extra-large {
    .content-scroll {
      max-height: calc(100vh - 160px);
    }
  }
}
