.p-progress-bar {
  border: 1px solid #00000026;
  border-radius: 2px;
  height: 30px;
  margin-top: 5px;
  padding: 2px;
  width: 100%;

  div {
    background-color: #0e8420;
    border-radius: 2px;
    height: 100%;
  }
}
