.resource-link {
  i {
    background-size: contain !important;
    margin-left: 0 !important;
    margin-right: $sph--x-small;
  }

  &.p-chip {
    // background-color is set to white by vanilla if p-chip is applied to a link and not button
    background-color: $colors--theme--background-neutral-default;
    border: none;
    width: fit-content;
  }

  .p-chip__value {
    max-width: 8rem;
  }

  &.p-chip--disabled {
    opacity: 0.5;
    text-decoration: line-through;
  }
}

.l-main .resource-link .p-chip__value {
  max-width: inherit;
}

.resource-label {
  // truncate resource label text
  display: inline-block;
  max-width: 50%;
  vertical-align: bottom;

  i {
    background-size: contain !important;
    margin-right: $sph--x-small;
  }
}
