.resource-link {
  i {
    margin-right: $sph--x-small;
  }

  &.p-chip {
    // background-color is set to white by vanilla if p-chip is applied to a link and not button
    background-color: $colors--theme--background-neutral-default;
    border: none;
    width: fit-content;
  }

  .p-chip__value {
    max-width: 8rem;
  }
}

.l-main .resource-link .p-chip__value {
  max-width: inherit;
}

.resource-label {
  i {
    margin-right: $sph--x-small;
  }
}
