// Corresponding breakpoints exist in src/components/RichTooltipTable.tsx to adjust the content of the tooltip
$medium-tooltip-breakpoint: 900px;
$large-tooltip-breakpoint: 1100px;

body.is-dark .rich-tooltip-table .p-icon--status-queued-small {
  @include vf-icon-status-small($colors--light-theme--icon);
}

.rich-tooltip-table .p-icon--status-queued-small {
  @include vf-icon-status-small($colors--dark-theme--icon);
}

body.is-dark .rich-tooltip-table .p-icon--exposed {
  @include vf-icon-exposed($colors--light-theme--icon);
}

.rich-tooltip-table .p-icon--exposed {
  @include vf-icon-exposed($colors--dark-theme--icon);
}

.rich-tooltip-table {
  margin: 0;
  min-height: 450px;
  width: 430px;

  .rich-tooltip-row-content {
    max-width: 300px;
    width: 300px;

    .resource-link.p-chip {
      background-color: $colors--dark-theme--background-active;

      &:hover {
        filter: brightness(0.9);
      }

      > span.p-chip__value {
        color: $colors--dark-theme--text-default;
      }
    }
  }

  .rich-tooltip-row-title {
    max-width: 135px;
  }

  @media (height <= $large-tooltip-breakpoint) {
    min-height: 400px;
  }

  @media (height <= $medium-tooltip-breakpoint) {
    min-height: 200px;
  }
}

body.is-dark
  .rich-tooltip-table
  .rich-tooltip-row-content
  .resource-link.p-chip {
  background-color: $colors--light-theme--background-active;

  &:hover {
    filter: brightness(0.95);
  }

  > span.p-chip__value {
    color: $colors--light-theme--text-default;
  }
}
