.scrollable-table {
  table {
    margin-bottom: 0;
  }

  th,
  td {
    display: table-cell;
    vertical-align: top;
  }

  th::before {
    content: "";
    height: 1rem;
  }

  thead,
  tbody {
    display: block;
    overflow: hidden auto;
    scrollbar-gutter: stable;
  }

  tbody {
    height: calc(100dvh - 323px);
  }

  thead tr,
  tbody tr {
    display: table;
    table-layout: fixed;
    width: 100%;
  }

  @media screen and (max-width: $breakpoint-large) {
    .p-table--mobile-card {
      thead {
        display: none;
      }

      td {
        display: block;
      }

      tbody tr {
        display: block;
      }

      tbody tr:first-child {
        margin-top: $spv--x-large;
      }
    }
  }
}
