// This file should only contain variables. Because it is included in the vite.config.ts file,
// so our local settings are applied to react-components SCSS

$font-use-subset-latin: true;
$breakpoint-large: 1090px;

/* Indices
   Below modal and over everything else */
$notification-index: 99;
$spinner-index: 89;
