.settings {
  min-height: initial !important;

  .group {
    width: 8rem;

    @include mobile {
      display: none;
    }
  }

  .key-cell {
    padding: 0.4rem 0;
  }

  .input-row,
  .readmode-button {
    align-items: center;
    display: flex;
  }

  .input-wrapper {
    flex-grow: 1;
  }

  .readmode-button {
    padding: 0 1rem 0 0;
    text-align: start;
    width: 100%;

    .readmode-value {
      flex-grow: 1;
      padding: 0.4rem 0;
    }

    .edit-icon {
      min-width: 1rem;
    }
  }

  .reset-button {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}
