.storage-overview-tab {
  overflow: auto;

  .row:first-of-type {
    margin-top: $spv--x-large;
  }

  .row:not(:first-of-type) {
    margin-top: $spv--large;
  }

  .section {
    border-bottom: $border-thin;

    table {
      margin-bottom: $spv--large;
    }
  }

  .section,
  .usage {
    tr:not(.used-by-row) {
      border: none;
    }

    td,
    th {
      padding-bottom: $spv--x-small;
      padding-left: 0;
      padding-top: $spv--x-small;
    }

    th {
      width: 30%;
    }

    td:first-of-type,
    th:first-of-type {
      padding-top: $spv--small;
    }
  }

  .cluster-member-with-meters {
    display: flex;

    .p-meter {
      margin-top: 0.4rem;
    }
  }

  .clustered-resource-link {
    height: 2.4rem;
    margin-right: 1rem;
  }
}
