.tag {
  border: 1px solid $colors--theme--border-high-contrast;
  border-radius: 4px;
  color: $colors--theme--text-muted;
  display: inline-block;
  font-size: calc($sp-unit * 1.875);
  font-weight: 500;
  margin-left: $sph--small;
  padding: 0 $sph--small;
  text-transform: capitalize;
}
