@import "./breakpoints";
@import "./helpers";

.warnings-table {
  .type {
    width: 12rem;
  }

  .last_message {
    @include u-line-clamp-truncate(5);

    /* Explicitly cap the height so overflow lines can't bleed through */
    max-height: calc(1.5rem * 5 + 0.5rem); // line-height * lines + padding
    width: 100%;
  }

  .status {
    width: 6rem;
  }

  .severity {
    width: 6rem;
  }

  .count {
    width: 5rem;
  }

  .project {
    width: 6rem;
  }

  .first_seen_at {
    width: 12rem;
  }

  .last_seen_at {
    width: 12rem;
  }

  @media screen and (width < 1900px) {
    .first_seen_at,
    .last_seen_at {
      width: 8rem;
    }
  }

  @media screen and (width < 1740px) {
    .type {
      width: 8rem;
    }
  }

  @media screen and (width < 1470px) and (width > $breakpoint-large) {
    .first_seen_at {
      display: none !important;
    }
  }

  @include mobile-and-tablet {
    .type {
      width: 7rem;
    }
  }
}
