.instance-rich-tooltip-table {
  .actions-list {
    margin: 0;
  }

  .instance-list-addresses-more {
    margin: 0;
  }

  .status-row-content {
    display: flex;

    .status-icon {
      flex-grow: 1;
    }
  }
}
