// Corresponding breakpoints exist in src/components/RichTooltipTable.tsx to adjust the content of the tooltip
$medium-tooltip-breakpoint: 900px;
$large-tooltip-breakpoint: 1100px;

body.is-dark .rich-tooltip-table .p-icon--status-queued-small {
  @include vf-icon-status-small($colors--light-theme--icon);
}

.rich-tooltip-table .p-icon--status-queued-small {
  @include vf-icon-status-small($colors--dark-theme--icon);
}

.rich-tooltip-table {
  margin: 0;
  min-height: 450px;
  width: 430px;

  @media (height <= $medium-tooltip-breakpoint) {
    min-height: 200px;
  }

  @media (height <= $large-tooltip-breakpoint) {
    min-height: 400px;
  }

  .rich-tooltip-row-content {
    max-width: 300px;
    width: 300px;
  }

  .rich-tooltip-row-title {
    max-width: 130px;
  }
}
