@charset "UTF-8";
@use "sass:map";
@import "settings";
@import "vanilla-framework/scss/build";
@import "./breakpoints";
@import "pattern_icon";
@include lxdui-p-icon;
@include vf-p-icon-add-canvas;
@include vf-p-icon-add-logical-volume;
@include vf-p-icon-applications;
@include vf-p-icon-arrow-left;
@include vf-p-icon-arrow-right;
@include vf-p-icon-begin-downloading;
@include vf-p-icon-book;
@include vf-p-icon-canvas;
@include vf-p-icon-certificate;
@include vf-p-icon-change-version;
@include vf-p-icon-close;
@include vf-p-icon-cluster-host;
@include vf-p-icon-connected;
@include vf-p-icon-containers;
@include vf-p-icon-copy-to-clipboard;
@include vf-p-icon-disconnect;
@include vf-p-icon-edit;
@include vf-p-icon-export;
@include vf-p-icon-exposed;
@include vf-p-icon-filter;
@include vf-p-icon-folder;
@include vf-p-icon-fullscreen;
@include vf-p-icon-get-link;
@include vf-p-icon-image;
@include vf-p-icon-import;
@include vf-p-icon-iso;
@include vf-p-icon-lock-locked;
@include vf-p-icon-machines;
@include vf-p-icon-map;
@include vf-p-icon-mount;
@include vf-p-icon-open-terminal;
@include vf-p-icon-pause;
@include vf-p-icon-plans;
@include vf-p-icon-play;
@include vf-p-icon-pods;
@include vf-p-icon-power-off;
@include vf-p-icon-priority-low;
@include vf-p-icon-private-key;
@include vf-p-icon-profile;
@include vf-p-icon-profiles;
@include vf-p-icon-repository;
@include vf-p-icon-restart;
@include vf-p-icon-security;
@include vf-p-icon-security-tick;
@include vf-p-icon-settings;
@include vf-p-icon-single-host;
@include vf-p-icon-snapshot;
@include vf-p-icon-statistics;
@include vf-p-icon-status-failed-small;
@include vf-p-icon-status-in-progress-small;
@include vf-p-icon-status-queued-small;
@include vf-p-icon-status-succeeded-small;
@include vf-p-icon-status-waiting-small;
@include vf-p-icon-status;
@include vf-p-icon-stop;
@include vf-p-icon-submit-bug;
@include vf-p-icon-switcher-dashboard;
@include vf-p-icon-switcher-environments;
@include vf-p-icon-task-outstanding;
@include vf-p-icon-tidy;
@include vf-p-icon-units;
@include vf-p-icon-upload;
@include vf-p-icon-user-group;
@include vf-p-icon-video-play;
@include vf-p-icon-warning-grey;

$border-thin: 1px solid $colors--theme--border-low-contrast !default;

@import "certificate_add";
@import "certificates";
@import "cloud_init_form";
@import "cluster_group_form";
@import "cluster_list";
@import "cluster_specific_input";
@import "code_snippet_with_copy";
@import "configuration_table";
@import "copy_to_clipboard";
@import "custom_isos";
@import "detail_page";
@import "detail_panels";
@import "disk_device_form";
@import "device_detail_list";
@import "empty_state";
@import "error_page";
@import "file_row";
@import "form-link";
@import "font";
@import "forms";
@import "images";
@import "instance_detail_console";
@import "instance_detail_overview";
@import "instance_detail_page";
@import "instance_detail_panel";
@import "instance_detail_terminal";
@import "instance_ip_edit";
@import "instance_list";
@import "instance_target_selector";
@import "ip_address";
@import "login";
@import "meter";
@import "migrate_instance";
@import "modified_actions";
@import "network_default_acl_selector";
@import "network_form";
@import "network_forwards_form";
@import "network_ipam";
@import "network_leases";
@import "network_list";
@import "network_topology";
@import "network_selector";
@import "no_match";
@import "not_found";
@import "operation_list";
@import "page_header";
@import "pattern_navigation";
@import "pattern_terminal";
@import "permission_confirm_modal";
@import "permission_identities";
@import "permission_idp_groups";
@import "permission_group_selection";
@import "permission_groups";
@import "profile_detail_overview";
@import "profile_detail_panel";
@import "profile_list";
@import "profile_used_by_default_project";
@import "progress_bar";
@import "project_configuration";
@import "project_select";
@import "rename_device";
@import "rename_header";
@import "resources";
@import "selectable_main_table";
@import "settings_page";
@import "snapshots";
@import "ssh_key_form";
@import "sso_provider_selector";
@import "status_bar";
@import "storage_detail_overview";
@import "storage_pool_form";
@import "storage_pool_selector";
@import "storage_volume_form";
@import "storage";
@import "tag";
@import "upload_instance_modal";
@import "upper_controls_bar";
@import "warnings_table";

body {
  // needed for notification list expanding animation
  overflow: hidden;
  scrollbar-color: $color-mid-dark transparent;
}

.p-heading--4 {
  padding: 0;
}

.l-main .row {
  max-width: none;
}

.u-vertical-align-middle {
  vertical-align: middle;
}

.u-inline-block {
  display: inline-block;
}

.storage-detail-table {
  th {
    width: 12rem;
  }
}

.no-grid-gap {
  grid-gap: 0;
}

.u-loader {
  margin: $spv--x-large $sph--x-large $spv--x-large $sph--x-large;
}

.p-bottom-controls {
  background-color: $colors--theme--background-default;
  bottom: 0;
  position: sticky;
}

.status-icon {
  margin-right: $sph--x-small;
}

.external-link-icon {
  @include vf-icon-external-link($color-link);
}

.lxd-icon {
  background-image: url("data:image/svg+xml,%0A%3Csvg width='38' height='38' viewBox='0 0 38 38' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M28.5311 15.7998V5.71128L18.6554 0L8.77977 5.71128V15.7998L0 20.8683V32.2887L9.87566 38L18.6554 32.9083L27.4352 37.9768L37.3108 32.2655V20.8451L28.5311 15.7998ZM18.6554 2.57113L26.3182 6.99684V15.7998L18.6554 20.2487L10.9694 15.823V7.02002L18.6554 2.57113ZM9.87566 35.431L2.21286 31.0053V22.1538L9.85037 17.7513L17.5595 22.2002V31.0032L9.87355 35.4289L9.87566 35.431ZM35.098 31.0053L27.4352 35.431L19.7724 31.0053V22.2023L27.4816 17.7534L35.1191 22.156V31.0074H35.0959L35.098 31.0053Z' fill='%23666666'/%3E%3Cpath d='M28.1978 31.9072L32.4085 29.4099V24.4594L28.1978 26.9357V31.9072Z' fill='%23666666'/%3E%3Cpath d='M27.4119 20.7966L23.2012 23.2223L27.4372 25.627L31.648 23.1507L27.4119 20.7966Z' fill='%23666666'/%3E%3Cpath d='M22.4635 29.4816L26.6995 31.9558V26.9357L22.415 24.5311L22.4635 29.4816Z' fill='%23666666'/%3E%3Cpath d='M9.85235 20.7966L5.6416 23.2223L9.87553 25.627L14.0884 23.1507L9.85235 20.7966Z' fill='%23666666'/%3E%3Cpath d='M4.90371 29.4816L9.13764 31.9558V26.9357L4.87842 24.5311L4.90371 29.4816Z' fill='%23666666'/%3E%3Cpath d='M10.6387 31.9072L14.8726 29.4099V24.4594L10.6387 26.9357V31.9072Z' fill='%23666666'/%3E%3Cpath d='M22.8455 7.97052L18.6326 5.63965L14.4219 8.06536L18.6326 10.4447L22.8455 7.97052Z' fill='%23666666'/%3E%3Cpath d='M17.8946 16.7755V11.7534L13.6606 9.35083L13.6838 14.3245L17.8946 16.7755Z' fill='%23666666'/%3E%3Cpath d='M19.3955 16.7503L23.6294 14.2529V9.2561L19.3955 11.7535V16.7503Z' fill='%23666666'/%3E%3C/svg%3E%0A");
  height: 5rem;
  opacity: 1;
  width: 5rem;
}

.actions-list {
  display: inline-block;
  min-width: 8.5rem;

  .p-inline-list__item {
    margin-right: 0;
  }

  & > * {
    border-right: $border-thin;
    margin: 0;
    padding-left: 0;
    padding-right: 0;

    button {
      margin: 0;
      width: 44px;
    }
  }

  & > *:last-child {
    border-right: none;
  }
}

// smaller padding on top of all pages to have the logo flush on top
.p-panel__title,
.p-panel__controls {
  padding-top: $spv--x-small;
}

.p-panel__title {
  padding-bottom: $spv--medium;
}

.p-breadcrumbs--large {
  min-width: 0;
  width: inherit;

  .p-breadcrumbs__items {
    margin-bottom: 0;

    .continuous-breadcrumb {
      display: inline-block;
      margin-bottom: 0 !important;
    }
  }

  .p-breadcrumbs__item {
    font-size: #{map.get($font-sizes, h4-mobile)}rem;
    font-weight: 275;
    line-height: 1.45rem;
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 0;
  }

  .continuous-breadcrumb::after {
    content: "/";
    padding: 0 5px; // Adjust spacing as needed
  }

  .continuous-breadcrumb:last-child::after {
    content: ""; // Remove the slash from the last item
  }

  .p-breadcrumbs__item::before {
    content: none;
  }

  .p-breadcrumbs__item:first-of-type {
    margin-right: $sph--x-small;
  }
}

.p-tabs__list {
  margin-bottom: $spv--large !important;
}

.u-space-between {
  display: flex;
  justify-content: space-between;
}

.u-flex-row-reverse {
  flex-direction: row-reverse;
}

.u-flex {
  align-items: center;
  display: flex;
}

.u-flex-column {
  display: flex;
  flex-direction: column;
}

.u-no-border {
  border: none !important;
}

.item-name {
  overflow-wrap: anywhere;
}

.header-second-row {
  display: inline-block;
  padding-top: 1px;
}

@media (width >= 460px) {
  .l-application .l-aside.is-narrow {
    width: 25.65rem;
  }
}

.u-text--line-through {
  text-decoration: line-through;
}

.margin-right {
  margin-right: $sph--large;
}

.help-link {
  align-items: center;
  display: inline-flex;

  .help-link-icon {
    height: 1rem;
    margin-left: $spv--small;
    margin-top: 0.55rem; // extra margin to align with the text should be removed when this is fixed: https://github.com/canonical/vanilla-framework/issues/4891
    width: 1rem;

    @include extra-large {
      margin-top: 0.665rem; // extra margin to align with the text should be removed when this is fixed: https://github.com/canonical/vanilla-framework/issues/4891
    }
  }
}

.no-border-top {
  border-top: none !important;
}

.network-forwards-table {
  .actions {
    max-width: 8rem;
  }
}

#pagination {
  margin-bottom: 0;
}

.u-selectable-table-rows {
  .u-row:hover {
    background-color: $colors--theme--background-hover;
    cursor: pointer;
  }

  .u-row--disabled:hover {
    background-color: $colors--theme--background-default;
    cursor: auto;
  }
}

.clickable-cell {
  cursor: pointer;
}

.create-instance-from-snapshot-modal,
.copy-instances-modal,
.copy-volumes-modal,
.create-image-from-instance-modal,
.export-instance-modal,
.export-volume-modal,
.enable-clustering-modal {
  .p-modal__dialog {
    @include large {
      width: 35rem;
    }
  }
}

.host-path-device-modal,
.create-tls-identity {
  .p-modal__dialog {
    @include large {
      width: 40rem;
    }
  }
}

.table-description {
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.u-break-all {
  word-break: break-all;
}

.used-by-row-header {
  .icon {
    margin-right: $sph--large;
    opacity: 0.6;
  }
}
