@charset "UTF-8";
@use "sass:map";

@import "settings";
@import "vanilla-framework/scss/build";
@import "./breakpoints";

@import "pattern_icon";
@include lxdui-p-icon;
@include vf-p-icon-applications;
@include vf-p-icon-begin-downloading;
@include vf-p-icon-canvas;
@include vf-p-icon-close;
@include vf-p-icon-connected;
@include vf-p-icon-containers;
@include vf-p-icon-copy-to-clipboard;
@include vf-p-icon-disconnect;
@include vf-p-icon-edit;
@include vf-p-icon-export;
@include vf-p-icon-fullscreen;
@include vf-p-icon-get-link;
@include vf-p-icon-import;
@include vf-p-icon-machines;
@include vf-p-icon-open-terminal;
@include vf-p-icon-pause;
@include vf-p-icon-play;
@include vf-p-icon-pods;
@include vf-p-icon-power-off;
@include vf-p-icon-priority-low;
@include vf-p-icon-profile;
@include vf-p-icon-restart;
@include vf-p-icon-security;
@include vf-p-icon-settings;
@include vf-p-icon-status-failed-small;
@include vf-p-icon-status-in-progress-small;
@include vf-p-icon-status-queued-small;
@include vf-p-icon-status-succeeded-small;
@include vf-p-icon-status-waiting-small;
@include vf-p-icon-stop;
@include vf-p-icon-switcher-environments;
@include vf-p-icon-task-outstanding;
@include vf-p-icon-video-play;
@include vf-p-icon-warning-grey;

$border-thin: 1px solid $color-mid-light !default;

@import "configuration_table";
@import "empty_state";
@import "file_row";
@import "forms";
@import "instance_detail_console";
@import "instance_detail_overview";
@import "instance_detail_page";
@import "instance_detail_panel";
@import "instance_detail_snapshots";
@import "instance_detail_terminal";
@import "instance_list";
@import "meter";
@import "network_map";
@import "pagination";
@import "pattern_navigation";
@import "pattern_terminal";
@import "profile_detail_page";
@import "project_select";
@import "selectable_main_table";

.l-main .row {
  max-width: none;
}

.u-vertical-align-middle {
  vertical-align: middle;
}

.u-inline-block {
  display: inline-block;
}

.storage-detail-table {
  th {
    width: 12rem;
  }
}

.no-grid-gap {
  grid-gap: 0;
}

.u-loader {
  margin: $sp-large;
}

.certificate-main {
  padding-left: 2rem;

  @include large {
    padding-left: 4rem;
  }
}

.p-certificate-generate {
  max-width: 57rem !important;
}

.p-bottom-controls {
  background-color: white;
  bottom: 0;
  position: sticky;

  div {
    margin-top: 0.5rem;
  }
}

.status-icon {
  margin-right: $sph--x-small;
}

.external-link-icon {
  @include vf-icon-external-link($color-link);
}

.p-empty-instances {
  @include vf-icon-containers($color-mid-light);
}

.clear-selection-icon {
  @include vf-icon-close($color-link);
}

.actions-list {
  display: inline-block;
  min-width: 8.5rem;

  & > * {
    border-right: $border-thin;
    margin: 0;
    padding-left: 0;
    padding-right: 0;

    button {
      margin: 0;
      width: 44px;
    }
  }

  & > *:last-child {
    border-right: none;
  }
}

@include mobile-and-tablet {
  .u-certificate-button {
    margin-left: 2.5rem;
  }
}

// smaller padding on top of all pages to have the logo flush on top
.p-panel__title,
.p-panel__controls {
  padding-top: $spv--x-small;
}

.u-space-between {
  display: flex;
  justify-content: space-between;
}

.u-flex-row-reverse {
  flex-direction: row-reverse;
}

.u-no-border {
  border: none !important;
}

.item-name {
  overflow-wrap: anywhere;
}
