.empty-state {
  .empty-state-icon {
    height: $sp-xx-large;
    margin-bottom: $spv--large;
    margin-top: $spv--x-large;
    width: $sp-xx-large;
  }

  .empty-state-button {
    margin-top: $spv--medium;
  }
}
