.instance-detail-panel {
  .row {
    padding-left: 0;
    padding-right: 0;
  }

  .panel-content {
    margin-left: $sp-large;
    padding-bottom: 0;

    .actions {
      display: flex;
      margin-right: $sp-large;

      .primary {
        align-self: end;
        flex-grow: 1;
        margin-bottom: $spv--small;

        .p-inline-list__item:not(:last-of-type) {
          margin-right: $sph--small;
        }
      }
    }

    hr {
      margin-bottom: 0;
    }

    .p-button--link {
      padding: 0;
    }
  }

  .p-muted-heading,
  .p-action-link {
    margin-bottom: $spv--small;
    margin-top: $spv--x-small;
  }

  .p-snapshot-creation {
    margin-top: $spv--x-small;
  }

  td,
  th {
    padding: $sp-x-small !important;
  }

  tr {
    border-bottom: $border;
    border-color: $color-mid-x-light;
  }

  tr:last-child {
    border-color: $color-mid-light;

    td,
    th {
      padding-bottom: $spv--x-large !important;
    }
  }

  .base-image {
    max-width: 180px;
  }

  .u-spaced-hr {
    margin-top: $spv--x-large;
  }

  .p-section-separator {
    background-color: $color-mid-light;
  }

  .content-scroll {
    max-height: calc(100vh - 140px);
    overflow-x: hidden;
    overflow-y: auto;
    padding-bottom: $sp-large;
    padding-right: $sp-large;
  }
}
