.p-instance-header {
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;

  .middle-column {
    align-self: flex-start;
    display: flex;
  }

  .search-box {
    flex-grow: 1;
  }

  .margin-right {
    margin-right: 1rem;
  }

  .margin-bottom {
    margin-bottom: 0.5rem;
  }
}

.p-instance-content {
  padding-top: 0.5rem;
}

.p-empty-instances {
  @include vf-icon-containers($color-mid-light);
}

.u-row:hover,
.u-row-selected {
  background-color: $colors--light-theme--background-hover;
}

// show actions only on hover for desktop sized screens
@media screen and (min-width: 800px) {
  .u-instance-actions {
    visibility: hidden;
  }

  .u-row:hover {
    .u-instance-actions {
      visibility: visible;
    }
  }

  .u-row-selected:hover {
    .u-instance-actions {
      visibility: hidden;
    }
  }
}

.configurable-table-toggle {
  float: right;
  margin-bottom: -3.5rem;
}

.table-column-select-list {
  min-width: 12rem;

  label {
    margin-left: 1rem;
  }
}

.instance-table {
  td:last-child {
    padding-right: 0;
  }
}

.p-pagination__items {
  justify-content: flex-end;
}

#instance-table-measure {
  max-height: 1px;
  overflow: hidden;
}
