.create-instance,
.edit-instance,
.create-profile,
.edit-profile {
  padding-bottom: 0;

  .footer {
    hr {
      margin-bottom: $spv--large;
    }
  }

  .p-notification--caution {
    background-image: none;
    border: 0;
    padding-left: $spv--large;
  }

  .form {
    display: flex;
    margin-top: 6px;

    .form-navigation {
      width: 16rem;
    }

    .form-contents {
      height: calc(100vh - 167px);
      overflow-y: auto;
      padding-left: 2.5rem;

      > div:not(:has(.cm-editor)) {
        max-width: 42rem;
      }
    }

    .device-form {
      hr {
        margin-bottom: $spv--large;
      }
    }

    .image-change-link {
      align-self: end;
      margin-bottom: 6px;
    }

    .delete-device {
      margin-top: 2.5rem;
    }

    .is-disabled {
      cursor: not-allowed;
      opacity: 0.33;
    }
  }

  @include mobile-and-tablet {
    .form {
      margin-top: 13px;

      .form-contents {
        height: calc(100vh - 154px);
        width: inherit;
      }
    }
  }

  @include mobile {
    .form {
      .form-contents {
        height: calc(100vh - 222px);
      }
    }
  }

  @include extra-large {
    .form {
      .form-contents {
        height: calc(100vh - 187px);
      }
    }
  }
}

.p-panel__content:has(.edit-instance),
.p-panel__content:has(.edit-profile) {
  padding-bottom: 0;
}

.cpu-limit-label,
.memory-limit-label,
.snapshot-schedule {
  align-items: flex-end;
  display: flex;

  .grow {
    flex-grow: 1;
  }

  .right-margin {
    margin-right: 2rem;
  }
}

.image-select-modal {
  > section {
    min-height: 100%;
  }

  .table-image-select {
    th,
    td {
      &:nth-child(1) {
        width: 8rem;
      }

      &:nth-child(2) {
        width: 8rem;
      }

      &:nth-child(3) {
        width: 8rem;
      }

      &:nth-child(5) {
        width: 6rem;
      }
    }
  }

  .image-list {
    max-height: calc(100vh - 250px);
    overflow-y: auto;
  }

  @include large {
    .search-image {
      margin-top: calc(2.5rem + 3px);
      max-width: 30rem;
    }
  }
}
