.instance-detail-panel {
  .row {
    padding-left: 0;
    padding-right: 0;
  }

  .actions {
    display: flex;

    .primary {
      align-self: end;
      flex-grow: 1;
      margin-bottom: $spv--small;

      .p-inline-list__item:not(:last-of-type) {
        margin-right: $sph--small;
      }
    }
  }

  .instance-detail-panel--content {
    display: flex;
    flex-direction: column;
    margin-left: $sp-large;
    margin-right: $sp-large;

    hr {
      margin-bottom: 0;
    }

    .p-button--link {
      padding: 0;
    }
  }

  .p-muted-heading,
  .p-action-link {
    margin-bottom: $spv--small;
    margin-top: $spv--x-small;
  }

  .p-snapshot-creation {
    margin-top: $spv--x-small;
  }

  td,
  th {
    padding: $sp-x-small !important;
  }

  tr {
    border-bottom: $border;
    border-color: $color-mid-x-light;
  }

  tr:last-child {
    border-color: $color-mid-light;

    td,
    th {
      padding-bottom: $spv--x-large !important;
    }
  }

  .u-spaced-hr {
    margin-top: $spv--x-large;
  }

  .p-section-separator {
    background-color: $color-mid-light;
  }
}
