.create-new-instance,
.edit-instance-form {
  padding-bottom: 0;

  .footer {
    hr {
      margin-bottom: $spv--large;
    }
  }

  .p-notification--caution {
    background-image: none;
    border: 0;
    padding-left: $spv--large;
  }

  .instance-form {
    display: flex;
    margin-top: 6px;

    .form-navigation {
      width: 16rem;
    }

    .form-contents {
      height: calc(100vh - 167px);
      overflow-y: auto;
      padding-left: 2.5rem;

      > div:not(:has(.cm-editor)) {
        max-width: 42rem;
      }
    }

    .device-form {
      hr {
        margin-bottom: $spv--large;
      }
    }

    .image-change-link {
      align-self: end;
      margin-bottom: 6px;
    }

    .delete-device {
      margin-top: 2.5rem;
    }

    .is-disabled {
      cursor: not-allowed;
      opacity: 0.33;
    }
  }

  @include mobile-and-tablet {
    .instance-form {
      margin-top: 13px;

      .form-contents {
        height: calc(100vh - 154px);
        width: inherit;
      }
    }
  }

  @include mobile {
    .instance-form {
      .form-contents {
        height: calc(100vh - 222px);
      }
    }
  }

  @include extra-large {
    .instance-form {
      .form-contents {
        height: calc(100vh - 187px);
      }
    }
  }
}

.p-panel__content:has(.edit-instance-form) {
  padding-bottom: 0;
}
