.p-panel__logo-image {
  height: 2.5rem;
}

/* logo should be flush with the top of the window */
.l-navigation,
.l-navigation-bar {
  .p-panel {
    padding-bottom: 1rem;
    padding-top: 0;
  }

  .p-panel__logo {
    margin-top: -3px;
  }
}

.l-navigation-bar {
  .p-panel__logo {
    margin-bottom: 0;
    margin-top: -10px;
  }
}

@media screen and (min-width: $breakpoint-small) {
  /* switch out the image in the collapsed view to hide partially visibly text */
  .p-panel__logo-image {
    content: url("static/assets/img/logo/containers-no-text.svg");
    height: 3rem;
  }

  .l-navigation:focus-within,
  .l-navigation:hover {
    grid-area: nav;
    position: static;

    .p-panel__logo-image {
      content: url("static/assets/img/logo/containers.svg");
    }
  }
}

@media screen and (min-width: $breakpoint-large) {
  .p-panel__logo-image {
    content: url("static/assets/img/logo/containers.svg");
  }
}
