.p-terminal {
  height: calc(100vh - 240px);
}

@media screen and (min-width: $breakpoint-small) {
  .p-terminal {
    height: calc(100vh - 170px);
  }
}

@media screen and (min-width: $breakpoint-large) {
  .p-terminal {
    height: calc(100vh - 210px);
  }
}
