@mixin lxdui-p-icon {
  .p-icon--oval-green {
    @extend %icon;

    background-image: url("/static/assets/img/status/status-succeeded.svg");
  }

  .p-icon--oval-yellow {
    @extend %icon;

    background-image: url("/static/assets/img/status/status-waiting.svg");
  }

  .p-icon--oval-grey {
    @extend %icon;

    background-image: url("/static/assets/img/status/status-queued.svg");
  }

  .p-icon--oval-blue {
    @extend %icon;

    background-image: url("/static/assets/img/status/status-in-progress.svg");
  }

  .p-icon--oval-red {
    @extend %icon;

    background-image: url("/static/assets/img/status/status-failed.svg");
  }
}
