.p-profile-select {
  margin-bottom: $sp-large;

  .p-profile-select-box {
    border: $border;
  }

  .p-profile-select-title {
    display: inline-block;
    margin-bottom: 0;
    padding: $sp-small;
  }

  .p-profile-select-list {
    height: 12rem;
    overflow-y: auto;
    padding: $sp-small;
  }

  .p-profile-select-name {
    display: inline-block;
    max-width: 7rem;
  }

  .p-profile-select-button {
    margin-right: $sp-small;
  }
}
