$ubuntu-orange: #e95420;
$font-use-subset-latin: true;
$color-accent: $ubuntu-orange;
$session-bg: #262626;

// Indices
// Below modal and over everything else
$notification-index: 99;
$spinner-index: 89;
