@charset "UTF-8";

@import "settings";
@import "vanilla-framework/scss/build";

@import "pattern_icon";
@include lxdui-p-icon;
@include vf-p-icon-applications;
@include vf-p-icon-close;
@include vf-p-icon-connected;
@include vf-p-icon-containers;
@include vf-p-icon-copy-to-clipboard;
@include vf-p-icon-desktop;
@include vf-p-icon-disconnect;
@include vf-p-icon-edit;
@include vf-p-icon-export;
@include vf-p-icon-fullscreen;
@include vf-p-icon-import;
@include vf-p-icon-machines;
@include vf-p-icon-open-terminal;
@include vf-p-icon-pods;
@include vf-p-icon-power-off;
@include vf-p-icon-priority-low;
@include vf-p-icon-profile;
@include vf-p-icon-restart;
@include vf-p-icon-settings;
@include vf-p-icon-switcher-environments;
@include vf-p-icon-task-outstanding;
@include vf-p-icon-video-play;
@include vf-p-icon-warning-grey;

@import "pattern_navigation";
@include lxd-ui-p-navigation;

@import "pattern_terminal";
@include pattern-terminal;

@import "font";

@import "meter";

@import "profile_select";

.l-main .row {
  max-width: none;
}

.empty-state-message {
  .icon {
    height: 100%;
    width: 100%;
  }
}

.u-vertical-align-middle {
  vertical-align: middle;
}

.u-align-self-end {
  align-self: end;
}

.p-instance-yaml {
  margin-bottom: $sp-large;
  max-height: calc(100vh - 200px);
  overflow-y: scroll;
}

.p-profile-yaml {
  margin-bottom: $sp-large;
  max-height: calc(100vh - 200px);
  overflow-y: scroll;
}

.p-instance-detail-panel {
  border: $border;

  .p-instance-detail-panel--header {
    border-bottom: $border;
    padding-left: $sp-large;
    padding-right: $sp-xx-small;

    .p-panel__title {
      padding: $sp-xx-small;
    }

    .p-panel__controls {
      padding-top: 0;
    }
  }

  .p-instance-detail-panel--content {
    padding-left: $sp-large;
    padding-right: $sp-large;
  }

  .p-snapshot-link {
    margin-top: $sp-small;
  }

  .p-snapshot-creation {
    margin-top: $sp-x-small;
  }

  td,
  th {
    padding: $sp-x-small !important;
  }

  tr {
    border: none !important;
  }
}

.p-instance-table {
  @media screen and (max-width: 1400px) {
    th,
    td {
      &:nth-child(4),
      &:nth-child(5) {
        display: none;
      }
    }
  }
}

.p-address-row {
  display: none;
  @media screen and (max-width: 1400px) {
    display: table-row;
  }
}

.p-image-select-modal > section {
  min-height: 100%;
}

.p-image-list {
  max-height: calc(100vh - 200px);
  overflow-y: auto;
}

.p-table-image-select {
  th,
  td {
    &:nth-child(1) {
      width: 8rem;
    }

    &:nth-child(2) {
      width: 8rem;
    }

    &:nth-child(3) {
      width: 8rem;
    }

    &:nth-child(5) {
      width: 6rem;
    }
  }
}

.no-grid-gap {
  grid-gap: 0;
}

.u-loader {
  margin: $sp-large;
}

.u-row-selected {
  background-color: $color-mid-x-light;
}

.p-certificate-generate {
  max-width: 57rem !important;
}
