@charset "UTF-8";
@use "sass:map";

@import "settings";
@import "vanilla-framework/scss/build";
@import "./breakpoints";

@import "pattern_icon";
@include lxdui-p-icon;
@include vf-p-icon-applications;
@include vf-p-icon-begin-downloading;
@include vf-p-icon-canvas;
@include vf-p-icon-close;
@include vf-p-icon-connected;
@include vf-p-icon-containers;
@include vf-p-icon-copy-to-clipboard;
@include vf-p-icon-disconnect;
@include vf-p-icon-edit;
@include vf-p-icon-export;
@include vf-p-icon-fullscreen;
@include vf-p-icon-get-link;
@include vf-p-icon-import;
@include vf-p-icon-machines;
@include vf-p-icon-open-terminal;
@include vf-p-icon-pods;
@include vf-p-icon-power-off;
@include vf-p-icon-priority-low;
@include vf-p-icon-profile;
@include vf-p-icon-restart;
@include vf-p-icon-security;
@include vf-p-icon-settings;
@include vf-p-icon-status-failed-small;
@include vf-p-icon-status-in-progress-small;
@include vf-p-icon-status-queued-small;
@include vf-p-icon-status-succeeded-small;
@include vf-p-icon-status-waiting-small;
@include vf-p-icon-switcher-environments;
@include vf-p-icon-task-outstanding;
@include vf-p-icon-video-play;
@include vf-p-icon-warning-grey;

@import "empty_state";
@import "file_row";
@import "font";
@import "instance_detail_panel";
@import "instance_list";
@import "meter";
@import "network_map";
@import "pattern_navigation";
@import "pattern_terminal";
@import "profile_select";

.l-main .row {
  max-width: none;
}

.u-vertical-align-middle {
  vertical-align: middle;
}

.u-align-self-end {
  align-self: end;
}

.p-instance-yaml {
  margin-bottom: $sp-large;
  max-height: calc(100vh - 200px);
  overflow-y: scroll;
}

.p-profile-yaml {
  margin-bottom: $sp-large;
  max-height: calc(100vh - 200px);
  overflow-y: scroll;
}

.storage-detail-table {
  th {
    width: 12rem;
  }
}

.p-image-select-modal > section {
  min-height: 100%;
}

.p-image-list {
  max-height: calc(100vh - 200px);
  overflow-y: auto;
}

.p-table-image-select {
  th,
  td {
    &:nth-child(1) {
      width: 8rem;
    }

    &:nth-child(2) {
      width: 8rem;
    }

    &:nth-child(3) {
      width: 8rem;
    }

    &:nth-child(5) {
      width: 6rem;
    }
  }
}

.no-grid-gap {
  grid-gap: 0;
}

.u-loader {
  margin: $sp-large;
}

.certificate-main {
  padding-left: 2rem;

  @include large {
    padding-left: 4rem;
  }
}

.p-certificate-generate {
  max-width: 57rem !important;
}

.p-bottom-controls {
  background-color: white;
  bottom: 0;
  position: sticky;

  div {
    margin-top: 0.5rem;
  }
}

.status-icon {
  margin-right: $spv--x-small;
}

@include mobile-and-tablet {
  .u-certificate-button {
    margin-left: 2.5rem;
  }
}
