@charset "UTF-8";

@import "settings";
@import "vanilla-framework/scss/build";

@import "pattern_icon";
@include lxdui-p-icon;
@include vf-p-icon-applications;
@include vf-p-icon-edit;
@include vf-p-icon-connected;
@include vf-p-icon-containers;
@include vf-p-icon-machines;
@include vf-p-icon-open-terminal;
@include vf-p-icon-power-off;
@include vf-p-icon-switcher-environments;
@include vf-p-icon-warning-grey;
@include vf-p-icon-video-play;

@import "pattern_navigation";
@include lxd-ui-p-navigation;

@import "pattern_table";
@include table-images;
@include table-instances;
@include table-networks;
@include table-projects;
@include table-warnings;

@import "pattern_terminal";
@include pattern-terminal;

.l-main .row {
  max-width: none;
}
